<html>
  <head>
  <!--[if IE]><script src="js/excanvas.compiled.js"></script><![endif]-->
    <title>Social graph of {{name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css-reset.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" media="all" />
  </head>
  <body>
    <div class="content">

      <h1>Social graph of {{name}}</h1>
      <canvas id="myCanvas">Fallback content, in case the browser does not support Canvas.</canvas>
      <pre></pre>
      <h2>Expand: </a><a href="{{prev}}">-</a> - <a href="{{next}}">+</a>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/hey-graph.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/json2.js') }}" type="text/javascript"></script>
    <script type="text/javascript">


$(function() {
  var heyGraph = {};

  var canvas = $("canvas").get(0);
  if (canvas && canvas.getContext) {
    var context = canvas.getContext('2d');
    if (context) {
      $("pre").text(JSON.stringify(graphData, null, 1));

      context.canvas.width  = window.innerWidth;
      context.canvas.height = window.innerHeight-100;

      var graphData = {{graph_json|safe}}

      heyGraph = new HeyGraph(canvas, context, graphData, 15);
      heyGraph.start();
    }
  }
});


    </script>
  </body>
</html>

